__pycache__/
expense.db
app/__pycache__/
migrations/__pycache__/
/.project
fe_tests/node_modules/
commonly_used_sqls.txt
**/*.csv
analysis/
.pydevproject
.idea/
*.pyc
scratchpad.txt
logs/
postgres_logs
**/*.DS_Store
logfile
dist/
virtualenvs/
debian/ayavyaya/
debian/*debhelper*
debian/ayavyaya.substvars
debian/files
ayavyaya.egg-info
.eggs
.coverage
htmlcov/
reports/
.cache/
venv/