<!doctype html>
<html>
<head>
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app-styles.css">
</head>
<body>
  <div class="container" ng-app="expensesManager">
    <div id="expenses-manager" class="row" ng-controller="ExpensesController">
      <div class="col-md-6" id="expense-listing">
        <h3>Expenses Listing</h3>
        <div class="gridStyle" ng-grid="gridOptions">
        </div>
      </div>
      <div class="col-md-6" id="expense-entry">
        <h3>Enter Expenses</h3>
        <div class="form-group">
          <label for="description">What</label>
          <input class="form-control" id="description" type="text"
            ng-model="expense.description" placeholder="Enter description" />
        </div>
        <div class="form-group">
          <label for="expense_date">When</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="expense.expense_date" show-button-bar="false" is-open="opened" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label for="amount">How much!</label>
          <input class="form-control" id="amount" type="text"
          ng-model="expense.amount" placeholder="Enter amount" />
        </div>
        <div class="form-group">
          <label for="tags">Tag it!</label>
          <tags-input class="bootstrap" id="tags" display-property="name"
          ng-model="expense.tags" placeholder="Enter tags"></tags-input>
        </div>
        <button type="button" id="expense-save" class="btn btn-primary"
        ng-click="save()"><span class="glyphicon glyphicon-thumbs-up"></span> Save </button>
      </div>
    </div>
  </div>

  <!-- Minified versions-->
  <!--
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>

<script src="js/expense-manager.js"></script>
</body>
</html>
